$mobileBreakPoint: 700px;

.game-board {
  display: grid;
  border: 1px solid rgb(2, 0, 0);
  grid-template-rows: 65px 65px 65px;
  grid-template-columns: 65px 65px 65px;
}
body {
  display: flex;
  justify-content: center;
}
.box {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(215, 215, 211);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(17, 7, 7);
  font-size: 30px;
  width: 50px;
  height: 50px;
  cursor: pointer;

  @media only screen and (max-width: $mobileBreakPoint) {
    width: 30px;
    height: 30px;
  }

  &.highlighted {
    background: #ddd;
  }

  &.box-is-visible {
    background: gray;
    cursor: not-allowed;
  }

  &:nth-child(3n) {
    margin-right: 5px;
  }
}

.box-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  &:nth-child(3n) {
    margin-bottom: 5px;
  }
}
.sudoku-level-selector-container {
  display: flex;
  justify-content: space-around;
  // need to adjust later - flex gap or gap. justify around or justify evenly
}

.sudoku-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}

.sudoku-page-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 16px;
  margin: 0px 0px 10px 0px;

  .sudoku-page-banner-title {
    font-size: 50px;
    color: #bf0000;
  }

  .sudoku-level-selector {
    cursor: pointer;
    color: white;
    float: left;
    &.sudoku-level-selected {
      color: #bf0000;
    }
  }
}

// -----start of css for number selector -----

.number-selector {
  display: flex;
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-container {
  /* We first create a flex layout context */
  display: flex;
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  background: rgb(5, 5, 5);
  padding: 5px;
  width: 65px;
  height: 50px;
  margin-top: 10px;
  line-height: 50px;
  color: white;
  // font-weight: bold;
  font-size: 3em;
  text-align: center;

  cursor: pointer;

  &:hover {
    color: #bf0000;
  }
}

.sudoku-win {
  color: #bf0000;
  margin-top: 24px;
}
